[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
peewee = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
pandas = "*"
flask-jwt-extended = "*"
flask-jwt = "*"
jwt = "*"
uwsgi = "*"

[dev-packages]

[requires]
python_version = "3.9"
